*{
  margin: 0;
  padding: 0;
}
body{
  background-image: linear-gradient( to right, #051220, #052425);
}

.Pacifico-Font{
  font-family: 'Pacifico', cursive;
}

.Satisfy{
  font-family: 'Satisfy', cursive;
}
.Merriweather{
  font-family: 'Merriweather', cursive;
}